Repository Aicemelt/Tropical-backend, pull requests merged in 2025-09, with the labels that each got.

#20 [Feature]: 메일 설정(Gmail) 반영 및 인증 모듈 1차 구현·보안/헬스엔드포인트 정비 (#12, #13, #14, #15, #16, #17, #18, #19)
  .env.example
  build.gradle
  src/main/java/com/tropical/backend/auth/entity/SocialAccount.java
  src/main/java/com/tropical/backend/auth/entity/User.java
  src/main/java/com/tropical/backend/auth/entity/UserConsent.java
  src/main/java/com/tropical/backend/auth/repository/SocialAccountRepository.java
  src/main/java/com/tropical/backend/auth/repository/UserConsentRepository.java
  src/main/java/com/tropical/backend/auth/repository/UserRepository.java
  src/main/java/com/tropical/backend/auth/service/SocialAccountService.java
  src/main/java/com/tropical/backend/auth/service/UserConsentService.java
  src/main/java/com/tropical/backend/auth/service/UserService.java
  src/main/java/com/tropical/backend/common/controller/TestController.java
  src/main/java/com/tropical/backend/config/SecurityConfig.java
  src/main/resources/application.yml
Labels: bug, backend, enhancement, feature, performance, security, priority: medium, refactor

#40 [Feat]: 로컬 인증/온보딩 API 구축 + JWT/쿠키 하이브리드 + 통합 에러 처리 + 이메일 템플릿 + 소셜 로그인 초기 연동 (#21, #22, #23, #24, #27, #28, #31, #32, #35, #38)
  .env.example
  src/main/java/com/tropical/backend/auth/controller/AdminController.java
  src/main/java/com/tropical/backend/auth/controller/AuthController.java
  src/main/java/com/tropical/backend/auth/dto/request/LoginRequest.java
  src/main/java/com/tropical/backend/auth/dto/request/OnboardingRequest.java
  src/main/java/com/tropical/backend/auth/dto/request/SignupRequest.java
  src/main/java/com/tropical/backend/auth/dto/response/ApiErrorResponse.java
  src/main/java/com/tropical/backend/auth/dto/response/TokenResponse.java
  src/main/java/com/tropical/backend/auth/dto/response/UserResponse.java
  src/main/java/com/tropical/backend/auth/entity/User.java
  src/main/java/com/tropical/backend/auth/entity/UserConsent.java
  src/main/java/com/tropical/backend/auth/service/EmailService.java
  src/main/java/com/tropical/backend/auth/service/UserService.java
  src/main/java/com/tropical/backend/common/exception/GlobalExceptionHandler.java
  src/main/java/com/tropical/backend/common/util/CookieUtil.java
  src/main/java/com/tropical/backend/common/util/ErrorResponseWriter.java
  src/main/java/com/tropical/backend/config/SecurityConfig.java
  src/main/java/com/tropical/backend/config/auth/CustomAccessDeniedHandler.java
  src/main/java/com/tropical/backend/config/auth/JwtAuthenticationEntryPoint.java
  src/main/java/com/tropical/backend/config/auth/JwtAuthenticationFilter.java
  src/main/java/com/tropical/backend/config/auth/JwtTokenProvider.java
  src/main/java/com/tropical/backend/config/auth/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/tropical/backend/config/auth/PasswordEncoderConfig.java
  src/main/java/com/tropical/backend/config/security/SecurityConfig.java
  src/main/java/com/tropical/backend/config/web/CorsConfig.java
  src/main/resources/application.yml
  src/main/resources/static/images/TropiCal_logo_no_bg.png
Labels: bug, backend, enhancement, feature, performance, security, priority: medium, refactor, STATUS : IN PROGRESS

#43 [Bugfix]: 이메일 인증 중복 처리 개선 및 계정 타입별 이메일 중복 검증 대칭화 (#41, #42)
  src/main/java/com/tropical/backend/auth/repository/UserRepository.java
  src/main/java/com/tropical/backend/auth/service/UserService.java
Labels: bug, backend, enhancement, performance, security, priority: medium, STATUS : IN PROGRESS

#26 [Feat]: Schedule/Diary Entity 및 Repository 구현 (#25)
  .gitignore
  src/main/java/com/tropical/backend/config/JpaAuditingConfig.java
  src/main/java/com/tropical/backend/diary/entity/Diary.java
  src/main/java/com/tropical/backend/diary/entity/Emotion.java
  src/main/java/com/tropical/backend/diary/entity/Weather.java
  src/main/java/com/tropical/backend/diary/repository/DiaryRepository.java
  src/main/java/com/tropical/backend/schedule/entity/Schedule.java
  src/main/java/com/tropical/backend/schedule/repository/ScheduleRepository.java
Labels: backend, feature, priority: medium

#81 [Feat]: 캘린더, 약관, 사용자 설정 등 핵심 기능 구현 (#46~#80)
  .env.example
  build.gradle
  src/main/java/com/tropical/backend/auth/controller/AdminController.java
  src/main/java/com/tropical/backend/auth/controller/AuthController.java
  src/main/java/com/tropical/backend/auth/controller/TermsController.java
  src/main/java/com/tropical/backend/auth/controller/UserPreferenceController.java
  src/main/java/com/tropical/backend/auth/dto/request/TermsRequest.java
  src/main/java/com/tropical/backend/auth/dto/request/UpdateUserPreferenceRequest.java
  src/main/java/com/tropical/backend/auth/dto/response/TermsResponse.java
  src/main/java/com/tropical/backend/auth/dto/response/TermsSummaryResponse.java
  src/main/java/com/tropical/backend/auth/dto/response/UserPreferenceResponse.java
  src/main/java/com/tropical/backend/auth/entity/Terms.java
  src/main/java/com/tropical/backend/auth/entity/User.java
  src/main/java/com/tropical/backend/auth/entity/UserConsent.java
  src/main/java/com/tropical/backend/auth/repository/TermsRepository.java
  src/main/java/com/tropical/backend/auth/repository/UserConsentRepository.java
  src/main/java/com/tropical/backend/auth/service/TermsService.java
  src/main/java/com/tropical/backend/auth/service/UserConsentService.java
  src/main/java/com/tropical/backend/auth/service/UserPreferenceService.java
  src/main/java/com/tropical/backend/auth/service/UserService.java
  src/main/java/com/tropical/backend/bucketList/controller/BucketListController.java
  src/main/java/com/tropical/backend/calendar/client/HolidayApiClient.java
  src/main/java/com/tropical/backend/calendar/controller/HolidayController.java
  src/main/java/com/tropical/backend/calendar/dto/response/DayOffStatusResponse.java
  src/main/java/com/tropical/backend/calendar/dto/response/HolidayCheckResponse.java
  src/main/java/com/tropical/backend/calendar/dto/response/HolidayEventResponse.java
  src/main/java/com/tropical/backend/calendar/dto/response/HolidayResponse.java
  src/main/java/com/tropical/backend/calendar/entity/Holiday.java
  src/main/java/com/tropical/backend/calendar/exception/CalendarExceptionHandler.java
  src/main/java/com/tropical/backend/calendar/repository/HolidayRepository.java
  src/main/java/com/tropical/backend/calendar/service/HolidayService.java
  src/main/java/com/tropical/backend/common/util/YearWithin.java
  src/main/java/com/tropical/backend/common/util/YearWithinValidator.java
  src/main/java/com/tropical/backend/config/ConsentTypeConverter.java
  src/main/java/com/tropical/backend/config/OpenApiConfig.java
  src/main/java/com/tropical/backend/config/TermsDataInitializer.java
  src/main/java/com/tropical/backend/config/TimeConfig.java
  src/main/java/com/tropical/backend/config/security/SecurityConfig.java
  src/main/java/com/tropical/backend/config/web/WebConfig.java
  src/main/java/com/tropical/backend/diary/controller/DiaryController.java
  src/main/java/com/tropical/backend/schedule/controller/ScheduleController.java
  src/main/java/com/tropical/backend/todo/controller/TodoController.java
  src/main/resources/application.yml
Labels: bug, backend, enhancement, feature, performance, security, priority: high, refactor, STATUS : IN PROGRESS

#83 [Enhancement]: 일정/일기 API 엔드포인트 버전 관리 체계 도입
  .DS_Store
  src/main/java/com/tropical/backend/diary/controller/DiaryController.java
  src/main/java/com/tropical/backend/schedule/controller/ScheduleController.java
Labels: backend, enhancement, priority: medium, STATUS : IN PROGRESS

#91 [Refactor]: 연도 범위 정책 중앙화 및 HttpOnly 쿠키 기반 인증 고도화 (#89, #90)
  src/main/java/com/tropical/backend/auth/controller/AuthController.java
  src/main/java/com/tropical/backend/calendar/client/HolidayApiClient.java
  src/main/java/com/tropical/backend/calendar/controller/HolidayController.java
  src/main/java/com/tropical/backend/calendar/service/HolidayService.java
  src/main/java/com/tropical/backend/common/util/YearWithin.java
  src/main/java/com/tropical/backend/common/util/YearWithinValidator.java
  src/main/java/com/tropical/backend/config/TimeConfig.java
Labels: bug, backend, enhancement, performance, security, priority: medium, refactor, STATUS : IN PROGRESS

#94 [doc]: 백엔드 프로젝트 가이드 README 반영
  README.md
Labels: docs

#97 [Refactor]: 동적 호스트 환경을 지원하도록 백엔드 URL 설정 고도화 (#96)
  .env.example
  src/main/java/com/tropical/backend/auth/controller/AuthController.java
  src/main/java/com/tropical/backend/config/auth/JwtAuthenticationFilter.java
  src/main/java/com/tropical/backend/config/auth/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/tropical/backend/config/web/CorsConfig.java
  src/main/resources/application.yml
Labels: bug, backend, enhancement, feature, performance, security, priority: medium, refactor, STATUS : IN PROGRESS
